<html>
  <header>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game-layout.css') }}" />
    <!-- prettier-ignore -->
    <py-env>
      - paths:
        - .{{ url_for('static', filename='pyscript/utils.py') }}
        - .{{ url_for('static', filename='model/game_data_set.py') }}
        - .{{ url_for('static', filename='model/penalty_card.py') }}
        - .{{ url_for('static', filename='model/penalty.py') }}
        - .{{ url_for('static', filename='model/game_base.py') }}
        - .{{ url_for('static', filename='model/time_game_base.py') }}
        - .{{ url_for('static', filename='model/game_provider.py') }}
        - .{{ url_for('static', filename='model/image_card.py') }}
        - .{{ url_for('static', filename='pyscript/common_view_controller.py') }}
        - .{{ url_for('static', filename='pyscript/timer_view_controller.py') }}
    </py-env>
  </header>
  {% extends "/base/common.html" %} {% block content %}

  <a id="hidden-move-a" class="hidden-area" href=""></a>

  <div class="content-container">
    <!-- 게임 타이머 element 영역 끝 -->

    <!-- 게임 설명 element 영역 시작 -->
    <div id="description-container" class="description-container float-contents" style="">
      <div id="game-title" style="">
        <img src="{{ url_for('static', filename=game_image_url) }}" alt="게임 메인 이미지" style="width: 90px; height: auto;" />
        <span class="highlight">{{ game_title }}</span>
      </div>

      <div class="game-description game-description-font"><span>게임 설명!</span></div>
      
      <div id="game-description " class="nanumbarungothic game-des">{{ game_description }}</div>

      <button id="game-description-close" class="btn-them">게임 시작!</button>
    </div>
    <!-- 게임 설명 element 끝 -->

    <!-- 게임 컨텐츠 element 영역 시작 -->
    <div class="main-container" style="border-radius: 50px; padding: 20px;">
      <div id="game-title" style="">
        <img src="{{ url_for('static', filename=game_image_url) }}" alt="게임 메인 이미지" style="width: 50px; height: auto;  margin: 0 auto;" />
        <span class="highlight">{{ game_title }}</span>
      </div>
      
      <div id="timer-container" class="timer-container hidden-area">
        <img src="{{ url_for('static', filename='images/common/bomb-before.jpg') }}" style="width: 110px; height: auto;" />
        <div id="rest-time" style="font-size: 15px; text-align: center;"></div>
      </div>

      
      {% block main_game_area %} {% endblock main_game_area %}
      <div id="direction-container" class="hidden-area" style="text-align: center; margin-bottom: 10px; margin-top: 20px;">
        <img class="main-img" id="direction-image" style="margin-bottom: 0px; width: 50px; border-radius: 50%; display: inline-block;" />
        <div id="direction-label" style="font-family: 'MinSans-Medium'; font-size: 18px; padding: 5px 10px; margin-bottom: 10px; text-align: center; background: #ffffff; border-radius: 10px; display: inline-block;"></div>
      </div>
    </div>
    <!-- 게임 컨텐츠 element 영역 끝 -->

    <!-- 게임 종료 알림 영역 시작 -->
    <div id="game-end-notice-container" class="game-end-notice float-contents hidden-area" style="padding: 30px;">
      <span class="highlight" style="font-size: 30px; font-family: 'EliceDigitalBaeum_Bold';">게임 종료!</span>
      <img id="bomb-image" class="hidden-area" src="{{ url_for('static', filename='images/common/bomb-after.jpg') }}" />
    </div>
    <!-- 게임 종료 알림 영역 끝 -->

    <!-- 벌칙 element 영역 시작 -->
    <div id="penalty-container" class="penalty-container float-contents hidden-area">
      <div class="random-penalty-title" style="font-size: 30px;"><span class="highlight">랜덤 벌칙!</span></div>

      <p id="penalty-title"></p>
      <img class="penalty-image" id="penalty-image" />
      <!-- 벌칙 element 영역 끝 -->
    </div>
  </div>
  {% endblock content %}

  <!-- Button 영역 -->
  {% block buttons_area %}
    <button class="item btn-them btn-game-1" id="next-game-button">다음 게임</button>
    <button class="item btn-them btn-game-2" id="extra-penalty-button">벌칙 실행</button>  
  {% endblock buttons_area %}
</html>
