/* 게임 컨텐츠 내부에서 보여질 element의 부모 역할. */
.content-container {
  position: relative;
  max-height: calc(100vh - 200px);
  height: 100%;
  margin-bottom: 20px;
}

/* 게임 설명 컨텐츠와 벌칙 컨텐츠는 게임 컨텐츠 위로 float 되어야 하기 때문에 공통적인 CSS로 처리한다. */
.float-contents {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid black;
  overflow: auto;
}

/* 
    게임 설명 컨텐츠의 경우 유저가 닫으면 보이지 않아야 하고,
    벌칙 컨텐츠의 경우 벌칙 버튼을 누르기 전까진 보이지 않아야 하기 때문에
    해당 CSS로 공통적인 처리를 진행한다.    
*/
.hidden-area {
  display: none;
}

/* Timer container class name */
.timer-container {
  width: 100%;
}

/* 게임의 설명 컨텐츠를 그리는 class name */
.description-container {
  width: 100%;
}

/* 기본적인 게임 컨텐츠를 그리는 class name */
.main-container {
  width: 100%;
}

/* 게임의 벌칙 컨텐츠를 그리는 class name. */
.penalty-container {
  width: 100%;
  z-index: 5;
}

/* 아래에서부턴 테스트용 CSS */

#game-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.description-container,
.game-end-notice,
.penalty-container {
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 5px 5px gray;
  padding: 5px;
  height: 100%;
  text-align: center;
}

.game-description,
.random-penalty-title {
  text-align: center;
  margin: 10px auto;
  font-size: 15px;
  font-weight: bold;
}
.description-container img {
  max-width: 100%;
  height: 50px;
  margin: 10px auto;
}

.penalty-container img {
  height: 50%;
  margin: 10px auto;
}

.timer-container img,
.game-end-notice img {
  height: 30vh;
  margin: 5px auto;
  max-width: 100%;
}

.penalty-container {
  background-color: white;
}

.main-container {
  background-color: beige;
}

.main-container {
  height: 100%;
}

#game-description-close {
  border: 1px solid blue;
  height: max-content;
  display: block;
  margin: auto;
  margin-top: 20px;
}
