@charset "utf-8";

@import url("./init.css");

/* 576px 미만(모바일) */
html,
body {
  margin: 0;
  height: 100%;
}

#bg-color {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background: #ffffff;
}

.bg-top {
  background: #053f5c;
  height: 40%;
  border-bottom-right-radius: 154px;
}

.bg-bottom {
  background: #ffffff;
  height: 60%;
}

.container-wrap {
  height: 100vh;
  padding: 20px;
  position: relative;
  z-index: 5;
}
.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  text-align: center;
}

.item-sub {
  font-family: "GmarketSansBold";
}

.titl {
  justify-content: center;
  font-size: 25px;
  margin-bottom: 20px;
  font-family: "ROKAFSansBold";
}

.titl div {
  background-color: #f9f9f9;
  border-radius: 30px;
  padding: 10px 20px;
}

.titl img {
  width: 40px;
  display: inline-block;
}

.main-img {
  width: 180px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.titl-sub {
  justify-content: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.btn-people {
  justify-content: space-around;
  margin-bottom: 20px;
}

.btn-num-pbl {
  background-color: #ffffff;
  font-size: 18px;
  flex-basis: 30%;
  padding: 3px;
  border: 1px solid #d7dbda;
  border-radius: 20px;
  opacity: 0.6;
  font-family: "MinSans-Medium";
}

.btn-num-pbl.selected {
  border: 3px solid #fdb137;
  opacity: 1;
}

.btn-them {
  border: 1px solid #d7dbda;
  border-radius: 20px;

  background-color: ffffff;
  flex-basis: 40%;
  height: 50%;
  font-size: 18px;
  padding: 3px;
  opacity: 0.6;
  font-family: "MinSans-Medium";
}

.btn-them.selected {
  border: 3px solid #fdb137;
  opacity: 1;
}

.them,
.them-penalty {
  height: calc(100vh - 110px);
  border: 1px solid green;
}

.them-play {
  height: calc(100vh - 210px);
}

.them-play div {
  flex-basis: 100%;
}

.them-play-btn {
  height: 100px;
}

.them-game {
  height: calc(100vh - 152px);
  border: 1px solid green;
}

.item-them {
  border: 1px solid blue;
  flex-basis: 50%;
}

.them-game div,
button,
.them-penalty div,
button {
  flex-basis: 100%;
  height: calc(100% - 100px);
}

.them-game button,
.them-penalty button {
  width: 100%;
  height: 100px;
  border: 1px solid black;
}

.btn-start {
  font-family: "ROKAFSansBold";
  margin-top: 30px;
  background: #fdb137;
  font-size: 20px;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 30px;
}
