<html>
  <header>
    <!-- prettier-ignore -->
    <py-env>
      - paths:
        - .{{ url_for('static', filename='model/game/balance_game.py') }}
    </py-env>
    <py-script src="{{ url_for('static', filename='pyscript/view-controller/balance.py') }}"></py-script>
  </header>

  {% extends "base/gameCommon.html" %}

  <!-- 게임 컨텐츠 element 영역 시작 -->
    {% block main_game_area %}
    <div class="main-game-div" style="font-family: 'MinSans-Medium'; background: #fdeac3; text-align: center; border-radius: 10px; padding: 10px 20px; margin-top: 5px;">
      <div id="match-keyword-title-1"></div>
      <p>VS</p>
      <div id="match-keyword-title-2"></div>
      <div>거수하기!</div>
    
    {% endblock main_game_area %}
  </div>
  
  <!-- 게임 컨텐츠 element 영역 끝 -->
</html>
