<html>
  <header>
    <!-- prettier-ignore -->
    <py-env>
      - paths:
        - .{{ url_for('static', filename='model/game/baskin_robbins.py') }}
    </py-env>
    <py-script src="{{ url_for('static', filename='pyscript/view-controller/baskin_robbins.py') }}"></py-script>
  </header>

  {% extends "base/gameCommon.html" %}

  <!-- 게임 컨텐츠 element 영역 시작 -->
  {% block main_game_area %}

  <div id="match-keyword-title"></div>
  <div class="game-area-title">베스킨라빈스 31 시작!</div>
  {% endblock main_game_area %}
  <!-- 게임 컨텐츠 element 영역 끝 -->
</html>
