<html>
  <header>
    <!-- prettier-ignore -->
    <py-env>
      - paths:
        - .{{ url_for('static', filename='model/game/hunch_game.py') }}
    </py-env>
    <py-script src="{{ url_for('static', filename='pyscript/view-controller/hunch.py') }}"></py-script>
  </header>
  {% extends "base/gameCommon.html" %}

  <!-- 게임 컨텐츠 element 영역 시작 -->
  {% block main_game_area %}
  <div class="game-area-title" style="font-family: 'MinSans-Medium'; background: #fdeac3; text-align: center; border-radius: 30px; padding: 10px 20px; margin-top: 30px;">눈치게임 시작!</div>
  {% endblock main_game_area %}
  <!-- 게임 컨텐츠 element 영역 끝 -->
</html>
