<html>
  <header>
    <!-- prettier-ignore -->
    <py-env>
      - paths:
        - .{{ url_for('static', filename='model/game/iam_ground.py') }}
    </py-env>
    <py-script src="{{ url_for('static', filename='pyscript/view-controller/iam-ground.py') }}"></py-script>
  </header>

  {% extends "base/gameCommon.html" %}

  <!-- 게임 컨텐츠 element 영역 시작 -->
  {% block main_game_area %}
  <div style="background: #fdeac3; text-align: center; border-radius: 10px; margin-top: 30px;">
    <div id="match-keyword-title" style="display: inline-block; font-family: 'MinSans-Medium'; margin-bottom: 0px; "></div>
    <div class="game-area-title" style="display: inline-block; font-family: 'MinSans-Medium'; margin-bottom: 0px;">대기!</div>
  </div>
  
  {% endblock main_game_area %}
  <!-- 게임 컨텐츠 element 영역 끝 -->
</html>
