<html>
  <header>
    <!-- prettier-ignore -->
    <py-env>
      - paths:
        - .{{ url_for('static', filename='model/game/initial_consonant_quiz.py') }}
    </py-env>
    <py-script src="{{ url_for('static', filename='pyscript/view-controller/initial_consonant.py') }}"></py-script>
  </header>
  {% extends "base/gameCommon.html" %}

  <!-- 게임 컨텐츠 element 영역 시작 -->
  {% block main_game_area %}
  <div class="game-area-title" style=""><span style="background: #b0d197; padding: 8px 20px; border-radius: 30px; position: relative; top: 26px; font-size: 17px; font-family: 'MinSans-Medium';">제시 초성</span></div>
  <div id="consonant-label" style="font-family: 'MinSans-Medium'; background: #fdeac3; padding: 10px 20px; border-radius: 10px; text-align: center; font-size: 25px;"></div>
  {% endblock main_game_area %}
  <!-- 게임 컨텐츠 element 영역 끝 -->
</html>
