<html>
  <header>
    <!-- prettier-ignore -->
    <py-env>
      - paths:
        - .{{ url_for('static', filename='model/game/initial_consonant_quiz.py') }}
    </py-env>
    <py-script src="{{ url_for('static', filename='pyscript/view-controller/initial_consonant.py') }}"></py-script>
  </header>
  {% extends "base/gameCommon.html" %}

  <!-- 게임 컨텐츠 element 영역 시작 -->
  {% block main_game_area %}
  <div class="game-area-title">제시 초성:</div>
  <div id="consonant-label"></div>
  {% endblock main_game_area %}
  <!-- 게임 컨텐츠 element 영역 끝 -->
</html>
