<html>
  <header>
    <!-- prettier-ignore -->
    <py-env>
      - paths:
        - .{{ url_for('static', filename='model/game/train_game.py') }}
    </py-env>
    <py-script src="{{ url_for('static', filename='pyscript/view-controller/train.py') }}"></py-script>
  </header>

  {% extends "base/gameCommon.html" %}

  <!-- 게임 컨텐츠 element 영역 시작 -->
  {% block main_game_area %}
  <img class="main-img" id="train-image" style="margin-bottom: 0px; "/>
  <div id="train-title"  style="font-family: 'MinSans-Medium'; display: inline-block; background: #b0d197; padding: 8px 20px; border-radius: 30px; position: relative; top: 18px; font-size: 17px;"></div>
  <div class="game-area-title" style="font-family: 'MinSans-Medium';  background: #fdeac3; padding: 20px; border-radius: 10px; text-align: center; font-size: 20px;">호선 게임 시작!</div>
  {% endblock main_game_area %}
  <!-- 게임 컨텐츠 element 영역 끝 -->
</html>
